<div class="container">
  <div class="horizontal-container">
    Correct Answer:
  </div>
  <h1><%= capital %></h1>
  <div class="answer-container">
    <a id="restart" href="/">RESTART</a>
  </div>
</div>